{{ partial "header.html" . }}

<div class="container main">
    <h1 style="text-align: center">{{ .Title }}</h1>
    {{ .Content }}
    <div class="row index" style="height: 310px">
        <div class="col-sm">
            <img src="/img/vollerrucksack2.png" alt="Voller Rucksack" />
            <p>Vorher</p>
        </div>
        <div class="col-sm">
            <div style="margin-top: 100px;font-size:48px">→
            </div>
        </div>
        <div class="col-sm">
            <img src="/img/leererrucksack2.png" alt="Leerer Rucksack" />
            <p>Nachher</p>
        </div>
    </div>
    <div class="row index">
        <div class="col-sm">
            <i class="fas fa-info rounded-circle"></i>
            <h2>Angebote</h2>
            <p>{{ .Params.intro | markdownify }}</p>
            <p><a class="btn btn-secondary" href="/angebote" role="button">Alle Angebote</a></p>
        </div>
        <div class="col-sm">
            <i class="fas fa-calendar-check rounded-circle"></i>
            <h2>Termin</h2>
            <p>{{ .Params.termin | markdownify }}</p>
            <p><a class="btn btn-secondary" href="/kontakt" role="button">Jetzt Termin vereinbaren</a></p>
        </div>
        <div class="col-sm">
            <i class="fas fa-map-marked rounded-circle"></i>
            <h2>Anfahrt</h2>
            <p>{{ .Params.anfahrt | markdownify }}</p>
            <p><a class="btn btn-secondary" href="/anfahrt" role="button">Walddorfhäslach</a></p>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
