
html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}


body {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: #231f20;
    /* Margin bottom by footer height */
    margin-bottom: 120px !important;
    background-color: #fafafa;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    background-color: #e1e1e1;
    padding: 1em 0;
    font-size: 12px;
}

.footer-line, .footer-header, .footer-visit-us-contact-email {
    margin-bottom: 0.4em;
}

.footer-header {
    font-weight: bold;
}

.footer a {
    color: #3a3a3a;
    display: block;
}

.main {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media screen and (min-width: 58em) {
    html {
        font-size: 20px;
    }

    .footer {
        font-size: 14px;
    }
}

/* Center align the text within the three columns below the carousel */
.index .col-sm {
    margin-bottom: 1.5rem;
    text-align: center;
}

.index h2 {
    font-weight: 400;
}

.index .btn {
    display: block;
}

.index {
    padding-top: 1.5em;
}

.index .col-sm p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.index .rounded-circle {
    width: 110px;
    height: 110px;
    font-size: 100px;
    color: #7ebdc2;
}

.Angebote img {
    border-radius: 50%;
    margin: auto;
    display: block;
}
.Therapeutens img {
    border-radius: 5%;
    max-width: 175px;
    margin: auto;
    display: block;
}